*{
    margin: 0;
    box-sizing: border-box;
}
.header {
    background-color: rgb(136, 155, 149); 
    border-bottom: 5px solid black;
}
.logo {
    max-width: 100px;
    float: left;
    margin: 30px 50px;
}
.heading {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 200%;
}
.btn {
    
    background-color: green;
    padding: 15px 20px;
    border-radius: 5%;
    float: right;
    font-size: 100%;
    margin-top: 40px;
    margin-right: 2%;
    font-weight: bold;
}
.btn:hover,
.btn:active {
    background-color: red;
}
.btn >a {
    color: black;
    text-decoration: none;
    /* font-size: 150%; */
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}


.main {
    display: flex;
}
.menu {
    /* flex-grow: 5%; */
    border-right: 2px solid red;
}




.menu ul {
    background: green;
    padding: 0;
    list-style-type: none;
    font-size: 250%;
    margin-left: -30px;
}
.menu ul li {
    width: auto;
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid white;
    padding: 0 1em;
    
}
.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.menu ul li:hover {
    background: rgb(207, 214, 212);
}
.menu .sub-menu {
    position: absolute;
}


